body{
  background-color:grey;
  font-family: "Times New Roman", Times, serif;
font-size: 15px;
letter-spacing: 1px;
word-spacing: 1px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
.first{
  font-size:25px;
  text-align: center;
}
.second{
  text-align:center;
  margin-top:-3%
}
.third{
  padding-left:8%
}
