body{
  background-color: #F5F2E8;
  color: black;
  font-family: Times New Roman, Helvetica, sans-serif;
  margin: 6% 6%;
  
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  color: black;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
}

h1{
  text-align: center;
  font-weight: bold;
}
h2{
  text-align: center;
  font-size: 15px; 
}
